* text=auto
*.py text eol=lf
*.jinja text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.cmd text eol=lf
*.bat text eol=lf
*.png binary
*.exe binary
*.sfx binary
